.imaggaleria{
    padding: 50px;
    transition: 0.3s;
    

    &:hover{
        scale: 1.1;
        transition: 0.3s;
    }
}

.divgaleria{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}